__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
allure-results/
allure-report/
node_modules/
*.log
.DS_Store
Thumbs.db
screenshots/
Резюме.txt
Что делать.txt
ключ.txt
репозиторий.txt
